<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

    <style>
        .right {
            display: flex;
        }

    </style>

    <!--    <script src="script.js"></script>-->

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:63342/CS4-Blog-Management/src/main/resources/templates/index.html?_ijt=b9la6abauvvsqrbled8hm3dkue&_ij_reload=RELOAD_ON_SAVE">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">
                        Create blog
                </a>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                    Dropdown-->
<!--                </a>-->
<!--                <div class="dropdown-menu">-->
<!--                    <a class="dropdown-item" href="#">Action</a>-->
<!--                    <a class="dropdown-item" href="#">Another action</a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="#">Something else here</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link"></a>-->
<!--            </li>-->
        </ul>
<!--        <form class="form-inline my-2 my-lg-0" style="margin-right: 200px">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="yc">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="timKiem()">Search</button>-->
<!--        </form>-->
        <div class="right">
            <div style="margin-right: 10px">
                <a href="" id="nameUser"></a>
            </div>
            <button type="submit" onclick="logOut()">Logout</button>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div id="posts"></div>
</div>

<script>
    const API_URL = 'http://localhost:8080/blog'
    const API_URL_USER = 'http://localhost:8080/comment'
    const API_URL_POSTS = 'http://localhost:8080/user'
    const API_URL_COMMENT = 'http://localhost:8080/comment'
    loadListBlog()
    // loadListBlogRemove()
    const data = {}
    // loadListPosts()
    function test123() {
        const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
        const token = '42b2a2e7-7862-11ee-b394-8ac29577e80e';
        const config = {
            headers: {
                'Authorization': `Bearer ${token}`
            }
        };
        axios.get(apiUrl, config)
            .then((response) => {
                // Dữ liệu trả về từ API nằm trong response.data
                console.log('Dữ liệu từ API:', response.data);
            })
            .catch((error) => {
                console.error('Lỗi khi lấy dữ liệu từ API:', error);
            });
    }
    function loadListBlog() {
        document.getElementById("nameUser").innerHTML = `<p>${localStorage.getItem("username")}</p>`;
        document.getElementById('posts').innerHTML = ""
        Promise.all([
            axios.get(API_URL),
            axios.get(API_URL_COMMENT)
        ])
           .then((res) => {
                let list = res[0].data;
                let listComment = res[1].data;
               console.log(list);
               console.log(listComment);
                let str = `<div class="blogBottom">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="titleCreateBlog" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <textarea class="form-control" id="contentCreateBlog" rows="3"></textarea>
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="saveNewBlog()" type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>
                            </div>
<!--<div class="input-group mb-3"  style="width: 500px">-->
<!--  <input type="text" id="abc" class="form-control" placeholder="Viết bình luận" aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--  <div class="input-group-append">-->
<!--    <button class="btn btn-outline-secondary" type="button" id="button-addon2" >Bình luận</button>-->
<!--  </div>-->
<!--</div>-->


                       <table class="table">
                            <tr>
                                <th scope="row" class="col" style="width: 50px ">#</th>
                                <th class="col">title blog</th>
                                <th class="col">content blog</th>
                                <th class="col">posting time</th>
                                <th class="col" colspan="3" style="text-align: center">Action</th>
                            </tr>`

                for (let i = 0; i < list.length; i++) {

                    str += `<tr>
                            <td >${list[i].id}</td>

                            <td>${list[i].title}</td>
                            <td >
                            ${list[i].content}
                            </td>
                            <td>${list[i].time}</td>
                            <td>
                            <div style="display: flex">
                            <button onclick="editBlog(${list[i].id})" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal1" style="margin-right: 5px">
                            Edit
                            </button>
                             <button onclick="viewBlog(${list[i].id})"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal12" style="margin-right: 5px"> view </button>
                            <a href="" onclick="deleteBlog(${list[i].id})">
                            <button type="button" class="btn btn-danger">
                            Delete
<!--                            </button>-->
                            </a>
                            </div>
                            </td>
                            <tr>
                            <td colspan="3">Bình luận</td>
                            <td></td>
                            <td></td>
</tr>`
                    for (let j = 0; j < listComment.length; j++) {
                        if(list[i].id === listComment[j].blog.id){
                           str += ` <tr>

                            <td colspan="3" id="comment">${listComment[j].user.username}-----${listComment[j].content}</td>
                            <td></td>
                            <td></td>
</tr>`
                        }
                    }

                      str +=  `  </tr>
                        <tr>
                        <td colspan="3">
                        <div class="input-group mb-3"  style="width: 500px">
  <input type="text" id="abc_${list[i].id}" class="form-control" placeholder="Viết bình luận" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="saveComment(${list[i].id})">Bình luận</button>
  </div>
</div>
</td>
<td>
</td>
<td>
</td>
</tr>`
                }
                str += '</table>' +
                    '<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">\n' +
                    '  <div class="modal-dialog">\n' +
                    '    <div class="modal-content">\n' +
                    '      <div class="modal-header">\n' +
                    '        <h5 class="modal-title" id="exampleModalLabel">Edit blog</h5>\n' +
                    '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                    '          <span aria-hidden="true">&times;</span>\n' +
                    '        </button>\n' +
                    '      </div>\n' +
                    '      <div class="modal-body">\n' +
                    '        ' +

                    '  <div class="form-group">\n' +
                    '    <input type="hidden" class="form-control" id="idEditBlog" aria-describedby="emailHelp">\n' +
                    '    <input type="hidden" class="form-control" id="timeEditBlog" aria-describedby="emailHelp">\n' +
                    '    <label for="exampleInputEmail1">Title</label>\n' +
                    '    <input type="text" class="form-control" id="titleEditBlog" aria-describedby="emailHelp">\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="exampleInputPassword1">Content</label>\n' +

                    '    <textarea class="form-control" id="contentEditBlog" rows="3"></textarea>\n' +
                    '  </div>\n' +

                    '      </div>\n' +
                    '      <div class="modal-footer">\n' +
                    '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n' +
                    '        <button onclick="saveEditBlog()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>\n' +
                    '      </div>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</div>'
                document.getElementById('posts').innerHTML = str

                str += '</table>' +
                    '<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel12" aria-hidden="true">\n' +
                    '  <div class="modal-dialog">\n' +
                    '    <div class="modal-content">\n' +
                    '      <div class="modal-header">\n' +
                    '        <h5 class="modal-title" id="exampleModalLabel12">View blog</h5>\n' +
                    '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                    '          <span aria-hidden="true">&times;</span>\n' +
                    '        </button>\n' +
                    '      </div>\n' +
                    '      <div class="modal-body">\n' +
                    '        ' +

                    '  <div class="form-group">\n' +
                    '    <input type="hidden" class="form-control" id="idViewBlog" aria-describedby="emailHelp">\n' +
                    '    <label for="exampleInputEmail12">Title</label>\n' +
                    '    <input type="text" class="form-control" id="titleViewBlog" readonly>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="exampleInputPassword1">Content</label>\n' +

                    '    <textarea class="form-control" id="contentViewBlog" rows="3" readonly></textarea>\n' +
                    '  </div>\n' +
                 '   <div id="edit"></div>'+
                    '      <div>\n' +
                    '      <div class="modal-footer">\n' +
                    // '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>\n' +
                    // '        <button  type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>\n' +
                    '      </div>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</div>'
                document.getElementById('posts').innerHTML = str

            })
    }

    // function createBlog() {
    //     document.getElementById('blog').innerHTML =
    //         `<input type="text" id="nameBlog">
    //         <button onclick="saveNewBlog()">Create</button>`
    // }

    function saveNewBlog() {
        console.log(    API_URL)
        let data = {
            title: document.getElementById('titleCreateBlog').value,
            content: document.getElementById('contentCreateBlog').value,
            user:{
                id: localStorage.getItem("idLogin")
            }
        }

        axios.post(API_URL, data).then(() => {
            loadListBlog();
            // loadListBlogRemove();
        });
    }


    function editBlog(id) {
            $("#exampleModal12").modal("hide");
        axios.get(API_URL + '/' + id).then((res) => {
            $('#exampleModal1').on('shown.bs.modal', function () {
                document.getElementById('titleEditBlog').value = res.data.title;
            });
            $('#exampleModal1').on('shown.bs.modal', function () {
                document.getElementById('idEditBlog').value = res.data.id;
            });
            $('#exampleModal1').on('shown.bs.modal', function () {
                document.getElementById('contentEditBlog').value = res.data.content;
            });
            $('#exampleModal1').on('shown.bs.modal', function () {
                document.getElementById('timeEditBlog').value = res.data.time;
            });
            // Hiển thị modal
            $('#exampleModal1').modal('show');
        })

    }
    function viewBlog(id) {
        axios.get(API_URL + '/' + id).then((res) => {
            $('#exampleModal12').on('shown.bs.modal', function () {
                document.getElementById('titleViewBlog').value = res.data.title;
            });
            $('#exampleModal12').on('shown.bs.modal', function () {
                document.getElementById('idViewBlog').value = res.data.id;
            });
            $('#exampleModal12').on('shown.bs.modal', function () {
                document.getElementById('contentViewBlog').value = res.data.content;
            });

            // Hiển thị modal
            $('#exampleModal12').modal('show');

        })

    }



    function saveEditBlog() {
        let id = document.getElementById('idEditBlog').value
        const data = {
            // idCategory: document.getElementById('idEditBlog').value,
            title: document.getElementById('titleEditBlog').value,
            content: document.getElementById('contentEditBlog').value,
        }
        axios.put(API_URL + '/' + id, data).then(() => {
            loadListBlog();
            // loadListBlogRemove();
        });
    }
    function deleteBlog(id) {
        console.log(id)
        axios.delete(API_URL + '/' + id).then(() => {
            console.log(API_URL + '/' + id)
            loadListBlog();
            // loadListBlogRemove();
        });
    }

    // function loadListBlogRemove() {
    //     document.getElementById('blogRemove').innerHTML =
    //         axios.get(API_URL + '/blog').then((res) => {
    //             let list = res.data;
    //             let str = `<div class="blogBottom">
    //                             <div class="blog-navbar">List Category Remove</div>
    //                         </div>
    //                    <table class="table">
    //                         <tr>
    //                             <td class="col">#</td>
    //                             <td class="col">title</td>
    //                             <td class="col">content</td>
    //                             <td class="col">Action</td>
    //                         </tr>`
    //             for (let i = 0; i < list.length; i++) {
    //                 str += `<tr>
    //                         <td class="col" id="idBlogRemove" >${list[i].id}</td>
    //                         <td class="col" id="nameBlogRemove">${list[i].name}</td>
    //                         <td class="col" onclick="restoreBlog(${list[i].id})" style="color: red">Restore</td>
    //                     </tr>`
    //             }
    //             str += '</table>'
    //             document.getElementById('blogRemove').innerHTML = str
    //         })
    // }

    function restoreBlog(id) {
        axios.put(API_URL + '/restore/' + id).then(() => {
            loadListBlog();
            // loadListBlogRemove();
        });
    }
    function saveComment(id){
        const inputId = `abc_${id}`;

        // Lấy giá trị từ input sử dụng id động
        const content = document.getElementById(inputId).value;
        let data =
            {
                content: content,
                user: {
                    id: idLogin,
                },
                blog: {
                    id: id
                }
            }
            axios.post(API_URL_COMMENT, data).then(()=>{
            loadListBlog()
        })

    }
    function showAllCommentByBlog(id){
        document.getElementById("comment")

    }
</script>
<script src="script.js"></script>
<script src="function.js" ></script>
</body>
</html>